.netrwhist
.VimballRecord
.DS_Store
bundle/ack.vim/
bundle/ctrlp/
bundle/bufkill/
bundle/python-mode/
bundle/nerdcommenter/
bundle/pathogen/
bundle/vim-latex/
bundle/tagbar
bundle/solarized
bundle/yankring
bundle/vim-markdown-preview
bundle/supertab-plugin
bundle/fugitive
bundle/rope-vim
bundle/rope-omni
plugin/ack*
plugin/NERD_commenter*
