.netrwhist
.VimballRecord
.DS_Store
bundle/ack.vim/
bundle/ctrlp/
bundle/bufkill/
bundle/python-mode/
bundle/nerdcommenter/
bundle/pathogen/
bundle/vim-latex/
bundle/tagbar
bundle/command-t*
bundle/solarized
bundle/vim-markdown-preview
plugin/ack*
plugin/NERD_commenter*
